/* */
#3D-model-container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#left {
  float: left;
  width: 50%;
}
#right {
  float: left;
  width: 50%;
}

#c {
  border-radius: 15px;
  width: 80%;
}
